@import "tailwindcss";

:root {
  --background: #b3dfa1;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #b3dfa1;
    --foreground: #333333;
  }
}

body {
  background-color: #b3dfa1;
  background-image: linear-gradient(315deg, #b3dfa1 0%, #f0e703 74%);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
}

/* Course Card Styles */
.course-card {
  box-shadow: 0 0 15px rgba(0, 128, 0, 0.15);
  transition: all 0.3s ease;
}

.course-card:hover {
  box-shadow: 0 0 20px rgba(0, 128, 0, 0.3);
}
